@charset "UTF-8";
@charset "UTF-8";
	.contentsBox3{
		height:600px;
		margin-top:15px;
	}
	.contentsBox3>.subject{
		font-size:30px;
		border-bottom:2px solid;
		margin:5px 20px;
	}
	.contentsBox3>.explanation{
		margin:5px 20px;
		height:515px;
		overflow:hidden;
	}
	
	#finalSubjectBox{
		float:left;
		width:100%;
		background:black;
		color:white;
		height:50px;
		text-align:center;
		font-size:30px;
		line-height:1.5;
	}
	#finalLeftBox{
		float:left;
		width:50%;
		background:antiquewhite;
		height:465px;
	}
	#finalLeftBox>.subject,
	#finalRightBox>.subject{
		font-size:25px;
		margin:30px 20px 10px;
		font-weight:600;
		border-bottom:2px solid;
		width:150px;
	}
	#finalLeftBox>div:nth-child(3){
		margin-top:60px;
	}
	#finalLeftBox>.value{
		font-size:17px;
		margin-left:40px;
		width:335px;
		overflow:hidden;
	}
	#finalLeftBox>.value>.subject{
		float:left;
		width:35%;
		margin-bottom:5px;
	}
	#finalLeftBox>.value>.value{
		float:left;
		width:55%;
		margin-left:10%;
		margin-bottom:5px;
	}
	
	#finalRightBox{
		float:left;
		width:50%;
		height:465px;
		background:azure;		
	}
	#finalRightBox>div:nth-child(3){
		margin-top:100px;
	}
	#finalRightBox>.value{
		margin-left:40px;
		font-size:18px;
		margin-bottom:10px;
	}
	
	#contentsBox3-1{
		height:705px;
		margin-top:15px;
	}
	#contentsBox3-1>.subject,#contentsBox3-2>.subject,#contentsBox3-3>.subject,
	#contentsBox3-4>.subject,#contentsBox3-5>.subject,#contentsBox3-6>.subject,
	#contentsBox3-7>.subject,#contentsBox3-2-1>.subject{
		font-size:30px;
		border-bottom:2px solid;
		margin:5px 20px;
	}
	#contentsBox3-1>.explanation{
		margin:5px 20px;
		height:620px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-1>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-1>.explanation>div{
		font-size:18px;
		height:70px;
		padding:20px 40px;
		background:gainsboro;
	}
	
	#contentsBox3-2{
		height:750px;
		margin-top:15px;
	}
	#contentsBox3-2>.explanation{
		margin:5px 20px;
		height:665px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-2>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-2>.explanation>div{
		font-size:18px;
		height:115px;
		padding:20px 40px;
		background:gainsboro;
	}
	#contentsBox3-2-1{
		height:730px;
		margin-top:15px;
	}
	#contentsBox3-2-1>.explanation{
		margin:5px 20px;
		height:645px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-2-1>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-2-1>.explanation>div{
		font-size:18px;
		height:95px;
		padding:20px 40px;
		background:gainsboro;
	}
	
	#contentsBox3-3{
		height:730px;
		margin-top:15px;
	}
	#contentsBox3-3>.explanation{
		margin:5px 20px;
		height:645px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-3>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-3>.explanation>div{
		font-size:18px;
		height:95px;
		padding:20px 40px;
		background:gainsboro;
	}
	
	#contentsBox3-4{
		height:755px;
		margin-top:15px;
	}
	#contentsBox3-4>.explanation{
		margin:5px 20px;
		height:670px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-4>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-4>.explanation>div{
		font-size:18px;
		height:120px;
		padding:20px 40px;
		background:gainsboro;
	}
	
	#contentsBox3-5{
		height:705px;
		margin-top:15px;
	}
	#contentsBox3-5>.explanation{
		margin:5px 20px;
		height:620px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-5>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-5>.explanation>div{
		font-size:18px;
		height:70px;
		padding:20px 40px;
		background:gainsboro;
	}
	
	#contentsBox3-6{
		height:705px;
		margin-top:15px;
	}
	#contentsBox3-6>.explanation{
		margin:5px 20px;
		height:620px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox3-6>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox3-6>.explanation>div{
		font-size:18px;
		height:70px;
		padding:20px 40px;
		background:gainsboro;
	}
	
