@charset "UTF-8";
	.contentsBox4{
		height:600px;
		margin-top:15px;
	}
	.contentsBox4>.subject,	#contentsBox4-1>.subject, #contentsBox4-2>.subject,
	#contentsBox4-3>.subject, #contentsBox4-4>.subject, #contentsBox4-5>.subject,
	#contentsBox4-6>.subject{
		font-size:30px;
		border-bottom:2px solid;
		margin:5px 20px;
	}
	.contentsBox4>.explanation{
		margin:5px 20px;
		height:515px;
		overflow:hidden;
	}
	
	#ensecureSubjectBox{
		float:left;
		width:100%;
		background:black;
		color:white;
		height:50px;
		text-align:center;
		font-size:30px;
		line-height:1.5;
	}
	#ensecureLeftBox{
		float:left;
		width:50%;
		background:antiquewhite;
		height:465px;
	}
	#ensecureLeftBox>.subject,
	#ensecureRightBox>.subject{
		font-size:25px;
		margin:30px 20px 10px;
		font-weight:600;
		border-bottom:2px solid;
		width:150px;
	}
	#ensecureLeftBox>div:nth-child(3){
		margin-top:60px;
	}
	#ensecureLeftBox>.value{
		font-size:17px;
		margin-left:40px;
		width:335px;
		overflow:hidden;
	}
	#ensecureLeftBox>.value>.subject{
		float:left;
		width:35%;
		margin-bottom:5px;
	}
	#ensecureLeftBox>.value>.value{
		float:left;
		width:55%;
		margin-left:10%;
		margin-bottom:5px;
	}
	
	#ensecureRightBox{
		float:left;
		width:50%;
		height:465px;
		background:azure;	
	}
	#ensecureRightBox>div:nth-child(3){
		margin-top:100px;
	}
	#ensecureRightBox>.value{
		margin-left:40px;
		font-size:18px;
		margin-bottom:10px;
	}
	
	
	
	#contentsBox4-1{
		height:750px;
		margin-top:15px;
	}
	#contentsBox4-1>.explanation{
		margin:5px 20px;
		height:665px;
		overflow:hidden;
		background:aliceblue;
	}
	#contentsBox4-1>.explanation>img{
		width:90%;
		margin:2% 0% 2% 5%;
		height:472px;
	}
	#contentsBox4-1>.explanation>div{
		font-size:18px;
		height:115px;
		padding:20px 40px;
		background:gainsboro;
	}
	
