@charset "UTF-8";
	.contentsBox4{
		height:595px;
		margin-top:15px;
	}
	.contentsBox4>.subject,	.contentsBox4-1>.subject{
		font-size:30px;
		border-bottom:3px solid;
		margin:5px 20px;
	}
	.contentsBox4>.explanation{
		margin:5px 20px;
		height:525px;
		overflow:hidden;
	}
	
	#ensecureSubjectBox1,#ensecureSubjectBox2{
		float:left;
		width:100%;
		background:#3A3A3A;
		font-weight:600;
		color:white;
		height:50px;
		text-align:center;
		font-size:30px;
		line-height:1.5;
	}
	#ensecureLeftBox1,#ensecureLeftBox2{
		float:left;
		width:50%;
		background:#FFD0C2;
		height:465px;
	}
	#ensecureLeftBox1>.subject,#ensecureLeftBox2>.subject,
	#ensecureRightBox1>.subject,#ensecureRightBox2>.subject{
		font-size:25px;
		margin:30px 20px 10px;
		font-weight:600;
		border-bottom:2px solid;
		width:150px;
	}
	#ensecureLeftBox1>div:nth-child(3){
		margin-top:50px;
	}
	#ensecureLeftBox1>.value,
	#ensecureLeftBox2>.value{
		font-size:17px;
		margin-left:40px;
		width:335px;
		overflow:hidden;
	}
	#ensecureLeftBox1>.value>.subject,
	#ensecureLeftBox2>.value>.subject{
		float:left;
		width:35%;
		margin-bottom:5px;
	}
	#ensecureLeftBox1>.value>.value,
	#ensecureLeftBox2>.value>.value{
		float:left;
		width:55%;
		margin-left:10%;
		margin-bottom:5px;
	}
	
	#ensecureRightBox1,
	#ensecureRightBox2{
		float:left;
		width:50%;
		height:465px;
		background:#FFF0CF;	
	}
	#ensecureRightBox1>div:nth-child(3){
		margin-top:70px;
	}
	#ensecureRightBox1>.value,
	#ensecureRightBox2>.value{
		margin-left:30px;
		font-size:18px;
		margin-bottom:10px;
	}
	
	.contentsBox4-1{
		height:650px;
		margin-top:15px;
	}
	.contentsBox4-1>.explanation{
		margin:5px 20px;
		height:565px;
		overflow:hidden;
	}
	.contentsBox4-1>.explanation>div:nth-child(1){
		height:232.5px;
		padding:0px 20px;
		background:aliceblue;		
	}
	.contentsBox4-1>.explanation>div:nth-child(2){
		height:292.5px;
		padding:0px 20px;
		background:gainsboro;
	}
	.contentsBox4-1>.explanation>div:nth-child(1)>div:nth-child(1){
		font-size:25px;
		font-weight:600;
		padding-top:20px;
	}
	.contentsBox4-1>.explanation>div:nth-child(1)>div:nth-child(2){
		font-size:20px;
		padding:20px 0px 0px 10px;
	}
	.contentsBox4-1>.explanation>div:nth-child(2)>div:nth-child(1){
		font-size:25px;
		font-weight:600;
		padding-top:20px;		
	}
	.contentsBox4-1>.explanation>div:nth-child(2)>div:nth-child(2){
		font-size:20px;
		padding:20px 0px 0px 10px;
	}
